<div class="panel panel-default newstudentform">
  <div class="panel-heading">
    <h3 class="panel-title">New Student</h3>
  </div>
  <div class="panel-body">
    <div>
      <div class="studentinput">
        <input placeholder="Student Name" #newName>
      </div>

      <div class="studentinput">
        <input placeholder="Math Score" #newMathScore>
      </div>

      <div class="studentinput">
        <input placeholder="Reading Score" #newReadingScore>
      </div>

      <div class="studentinput">
        <input placeholder="Treehouse Score" #newTreehouseScore>
      </div><br>
      <button class="btn" (click)="submitForm(newName.value, newMathScore.value, newReadingScore.value, newTreehouseScore.value); newName.value=''; newMathScore.value=''; newReadingScore.value=''; newTreehouseScore.value=''">Add Student</button>
    </div>
  </div>
</div>
