<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Student</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Name:</label>
        <br>
        <input #newName autofocus>
      </div>

      <div>
        <label>Math Score:</label>
        <br>
        <input #newMathScore>
      </div>

      <div>
        <label>Reading Score:</label>
        <br>
        <input #newReadingScore>
      </div>

      <div>
        <label>Treehouse Score:</label>
        <br>
        <input #newTreehouseScore>
      </div>
      <button (click)="submitForm(newName.value, newMathScore.value, newReadingScore.value, newTreehouseScore.value); newName.value=''; newMathScore.value=''; newReadingScore.value=''; newTreehouseScore.value=''">Add</button>
    </div>
  </div>
</div>
