<div class="panel panel-default newstudentform">
  <div class="panel-heading">
    <h3 class="panel-title">New Student</h3>
  </div>
  <div class="panel-body">
    <form (submit)="submitForm(newName.value, newMathScore.value, newReadingScore.value, newTreehouseScore.value); newName.value=''; newMathScore.value=''; newReadingScore.value=''; newTreehouseScore.value=''">
      <div class="studentinput">
        <input placeholder="Student Name" #newName>
      </div>

      <div class="studentinput">
        <input placeholder="Math Score" #newMathScore>
      </div>

      <div class="studentinput">
        <input placeholder="Reading Score" #newReadingScore>
      </div>

      <div>
        <label>Treehouse Score:</label>
        <br>
        <input #newTreehouseScore>
      </div>
      <button type="submit" class="btn">Add Student</button>
    </form>
  </div>
</div>
