<nav>
  <div class="nav-wrapper blue">
    <a routerLink="" class="brand-logo left">GroupEd</a>
    <ul class="right">
      <span *ngIf="!(af.auth | async)">
        <li><a routerLink="login">Login</a></li>
        <li><a routerLink="signup">SignUp</a></li>
      </span>
      <span *ngIf="(af.auth | async)">
        <li><a (click)="goToDashBoard(currentUser)">Dashboard</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </span>
    </ul>
  </div>
</nav>
<div class="row">
    <router-outlet></router-outlet>
</div>
