<div class="absolute-sidebar">
<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Profile</div>
  </li>
  <li>
    <div class="collapsible-header" routerLink="display-classes"><i class="material-icons"></i>Classes</div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Students</div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Help</div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Settings</div>
  </li>
</ul>
</div>
