<script>$('.collapsible').collapsible();</script>
<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Classes</div>
    <div class="collapsible-body">
      <ul watch>
        <li *ngFor="let class of classes"><a>{{class.name}}</a></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Students</div>
    <div class="collapsible-body">
      <ul *ngIf="currentUser?.students" watch>
        <li *ngFor="let student of currentUser?.students"><a >{{student.name}}</a></li>
      </ul>
    </div>
  </li>
</ul>
