<div class="signup">
  <div class="signbox">
    <h2>Sign Up</h2>
  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    <p>
      <label> Name:
          <input type="text" name="name" (ngModel)="name" required>
      </label>
    </p>
    <p>
      <label> Email Address:
          <input type="text" name="email" (ngModel)="email" required>
      </label>
    </p>
    <p>
      <label> Password:
          <input type="password" name="password" (ngModel)="password" required>
      </label>
    </p>

    <p>
      <label> User Name:
          <input type="text" name="userName" (ngModel)="userName" required>
      </label>
    </p>


      <button class="btn" type="submit" [disabled]="!formData.valid">Submit</button>
      <a routerLink="/">Cancel</a>
  </form>

  <div *ngFor="let user of users | async">
    <p>{{user.name}}</p>
  </div>
</div>
</div>
