<form class="" action="index.html" method="post">
  <select class="class" name="">
    <option value="option">All</option>
    <option value="option">Math</option>
    <option value="option">English</option>
  </select>
  <input type="text" #newNumberOfGroup placeholder="Numer of Group">
  <button type="button" name="button">Heterogeneous Group</button>
  <button type="button" name="button">Homogeneous Group</button>
  <button type="button" name="button">Homogeneous Group with a Star Student</button>
</form>
