/* You can add global styles to this file, and also import other style files */

*, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  background: url("img/bg-img.jpg");
  background-position:center;
  background-size: cover;
  margin-bottom: 0px;
  position: relative;
}

.row {
  margin-bottom: 0;
}

.page-title {
  margin-top: 40px;
  color: #26a69a;
  font-family: 'Fredericka the Great', cursive;
  font-size: 5em;
  font-weight: 200;
}

input:-webkit-autofill,
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: white;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #26a69a;
  -webkit-box-shadow: none;
  -webkit-background: rgba(white, 0);
  transition: background-color 5000s ease-in-out 0s;
}

//navbar
nav, .nav-wrapper {
  height: 80px;
  background: darken(rgb(255, 165, 80), 10%);
}
nav .brand-logo {
  margin-left: 25px;
  font-weight: lighter;
  font-family: 'Fredericka the Great', cursive;
  font-size: 3.5em;
  letter-spacing: 1px;
  width: 0;
  line-height: 1.7em;
  height: 1.5em;
  margin-top: -5px;
  transition: all .5s;
  color: #26a69a;
  &:visited, &:active, &:focus {
    text-decoration: none;
  }
  &:hover {
    width: 212px;
    text-decoration: none;
    border-bottom: 6px solid #26a69a;;
  }
}

nav .right li a {
  font-size: 1.2em;
  margin-top: 5px;
  margin-right: 25px;
  transition: all .5s;
  &:hover, &:active, &:focus {
    background: none;
    color: #26a69a;
    text-decoration: none;
  }
}

//splash page
.splash {
  text-align: center;
  color: white;
  width: 75%;
  max-width: 1200px;
  margin: auto;
  min-height: calc(100vh - 120px);
  h1 {
    font-family: 'Fredericka the Great', cursive;
    margin: 80px;
    font-size: 11em;
    letter-spacing: 3px;
    font-weight: lighter;
  }
  h3 {
    font-size: 3em;
    font-weight: normal;
  }
  p {
    font-size: 2em;
    line-height: 2.5em;
    font-weight: 100;
  }
}

.line {
  width: 100%;
  height: 50px;
  border-bottom: 3px solid white;
  background: url("img/people.png");
  background-repeat: no-repeat;
  margin: 80px 0;
}


//login, signup
.login, .signup {
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: #26a69a;
    font-size: 3em;
    margin-bottom: 20px;
  }
  form {
    width: 400px;
    height: auto;
  }
  label {
    width: 400px;
    font-size: 1.6em;
  }
  input {
    font-family: 'Coming Soon', cursive;
    font-weight: normal;
    font-size: 1em;
    color: white;
    &:focus {
      color: #26a69a;
    }
  }
  button {
    margin-bottom: 10px;
    background: #9e9e9e;
    color: white;
    width: 400px;
    height: 50px;
    font-size: 1.4em;
    background: #26a69a;
    opacity: .7;
    transition: .3s;
    &:hover, &:focus {
      color: white;
      background: #26a69a;
      opacity: 1;
    }
  }
  a {
    color: #26a69a;
    transition: .3s;
    &:hover, &:focus {
      color: lighten(#26a69a, 10%);
      text-decoration: none;
    }
  }
}

//sidebar
.sidbar, .row .col.2s {
  width: 250px
}
.absolute-sidebar {
  background: darken(rgb(255, 165, 80), 10%);
  width: 250px;
  position: absolute;
  top: 80px;
  bottom: 0;
}

.collapsible {
  padding-top: 50px;
  box-shadow: none;
  border: none;
  min-height: calc(100vh - 120px);
}

.collapsible-header {
  padding: 0;
  line-height: 1.5em;
  background: darken(rgb(255, 165, 80), 10%);
  color: white;
  font-size: 1.5em;
  border-bottom: 3px solid #26a69a;
  width: 0;
  margin: 0 5px 25px 25px;
  transition: all .5s;
  &:hover, &:focus, &:active {
    width: 128px;
    border-bottom: 3px solid #26a69a;
    color: #26a69a;
  }
}

//display-class, display-students
.row .col.s10 {
  margin-left: 250px;
  min-height: calc(100vh - 120px);
}

.card-container {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.class-card, .student-card, .group-card {
  flex-basis: 31%;
  margin-top: 20px;
  margin-bottom: bottom;
  .existingcard {
    background: none;
    border: 5px solid white;
    border-radius: 3px;
    transition: all .3s;
    position: relative;
  }
  .card-title {
    font-weight: bold;
    font-size: 2em;
    transition: all .3s;
  }
  .delete {
    position: absolute;
    right: 7px;
    bottom: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    img {
      opacity: .6;
      filter: invert(100%);
      width: 100%;
      height: 100%;
      transform: scale(1.2) rotate(45deg);
    }
    &:hover {
      background: rgba(red, .7);
      cursor: pointer;
      img {
        opacity: 1;
      }
    }
  }
  &:hover {
    .existingcard {
      border: 5px solid #26a69a;
    }
    .card-title {
      color: #26a69a;
    }
  }
}

.add-card {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  transition: all .3s;
  .addbutton {
    width: 85px;
    height: 85px;
    transform: translate(-10%, -10%);
    filter: invert(100%);
    transition: all .3s;
  }
  &:hover {
    background: rgba(#26a69a, 1);
  }
}

.group-card {
  .card-content .card-title {
    padding-bottom: 20px;
    border-bottom: 3px solid white;
  }
  &:hover {
    .card-content .card-title {
      border-bottom: 3px solid #26a69a;
    }
  }
  .content {
    padding-top: 10px;
    ul {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
  //studentdetail
  .student {
    position: relative;
    font-family: 'Coming Soon', cursive;
    margin-bottom: 12px;
    flex-basis: 50%;
    font-size: 1.2em;
    .studentdetail {
      position: absolute;
      width: 160px;
      height: 100px;
      border-radius: 2px;
      background: lighten(#26a69a, 46%);
      top: 0;
      left: 70%;
      z-index: 2;
      display: none;
      li {
        color: lighten(black, 30%);
        margin: 10px;
        flex-basis: 100%;
        font-size: .8em;
      }
    }
    &:hover {
      color: lighten(#26a69a, 40%);
      .studentdetail {
        display: block;
      }
    }
  }
}

//newclass form, newstudent form, group maker form
.panel {
  background: rgba(white, 0.2);
  button.btn {
    margin: 5px 0 20px 0;
    letter-spacing: 2px;
    font-size: .8em;
    background: rgba(white, .9);
    padding: 2px 10px;
    color: darken(white, 60%);
    &:hover, &:focus, &:active {
      background: #26a69a;
      color: white;
    }
  }
}

.newclassform {
  width: 700px;
}

.newstudentform {
  background: rgba(white, 0);
  button.btn {
    margin: 5px 0 0 0;
  }
}

.groupmakerform {
  width: 700px;
  .panel-body select {
    width: 50%;
    border: 1px solid rgba(white, .5);
    background: rgba(white, 0);
    color: white;
    display: inline-block;
    option:first-child {
      color: rgba(white, .5);
    }
    &:focus {
      outline: none;
      border: 1px solid #26a69a;
    }
  }
  button.btn {
    width: 100%;
    display: block;
  }
}

.panel-default > .panel-heading {
  background: rgba(white, 0.6);
}
.panel-title {
  color: #26a69a;
}

.classinput {
  width: 305px;
  display: inline-block;
  &:first-of-type{
    margin-left: 5px;
    margin-right: 20px;
  }
  &:last-of-type{
    margin-left: 20px;
    margin-right: 5px;
  }
  input {
    font-weight: normal;
    font-size: 1em;
    color: white;
    border-bottom: 1px solid rgba(white, .5);
    font-family: 'Coming Soon', cursive;
    &::placeholder {
      font-family: 'Nunito', sans-serif;
      color: rgba(white, .5);
    }
    &:focus, &:active {
      color: #26a69a;;
      border-bottom: white;
    }
  }
}

.studentinput {
  width: 19%;
  margin-right: 10px;
  display: inline-block;
  &:first-of-type{
    width: 100%;
    margin-right: 0;
    display: block;
  }
  input {
    font-weight: normal;
    font-size: 1em;
    color: white;
    border-bottom: 1px solid rgba(white, .5);
    font-family: 'Coming Soon', cursive;
    &::placeholder {
      font-family: 'Nunito', sans-serif;
      color: rgba(white, .5);
    }
    &:focus, &:active {
      color: #26a69a;;
    }
  }
}

.groupmakderinput {
  width: 40%;
  display: inline-block;
  margin-left: 9%;
  input {
    font-family: 'Coming Soon', cursive;
    font-weight: normal;
    font-size: 1em;
    color: white;
    border-bottom: 1px solid rgba(white, .5);
    &::placeholder {
      font-family: 'Nunito', sans-serif;
      color: rgba(white, .5);
    }
    &:focus, &:active {
      color: #26a69a;;
    }
  }
}
