<div class="container display-container">
  <h1 class="page-title">My Classes</h1>

  <div class="card-container">
    <div *ngFor= "let class of classes" class="class-card" (click)="showClass(class)">
      <div class="card existingcard">
        <div class="card-content white-text">
          <span class="card-title">{{class.name}}</span>
        </div>
        <div class="delete">
          <img src="img/add.png">
        </div>
      </div>
    </div>


  </div>

  <div (click)="toggleClass()" class="add-card">
    <img src="img/add.png" class="addbutton">
  </div>

  <div *ngIf="toggleClassForm">
    <newclass [currentUser]="currentUser" (formSubmitSender)="toggleClass()"></newclass>
  </div>

  <app-display-students *ngIf="selectedClass" [selectedClass]="selectedClass"></app-display-students>

</div>
